<div class="container mx-auto px-6 py-12">
      <h1 class="text-4xl font-bold mb-8">Shopping Cart</h1>
      <div *ngIf="loading" class="text-center py-20">
       <div class="text-4xl mb-4 animate-pulse">🛒</div>
          <h3 class="text-xl font-semibold">
             Loading your cart...
          </h3>

          <p class="text-gray-500 mt-2">
           Please wait a moment.
          </p>
        </div>
      <!-- Empty Cart -->
      <div *ngIf="!loading && !error &&cart.items.length === 0" class="text-center py-20 bg-surface dark:bg-gray-800 rounded-xl">
        <div class="text-6xl mb-4">🛒</div>
        <h3 class="text-2xl font-bold mb-2">Your cart is empty</h3>
        <p class="text-gray-500 mb-6">Looks like you haven't added any books yet</p>
        <button routerLink="/books" class="btn-primary">Browse Books</button>
      </div>
      
      <!-- Cart with Items -->
      <div *ngIf="!loading && !error && cart.items.length > 0" class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <!-- Cart Items -->
        <div class="lg:col-span-2 space-y-4">
          <app-book-card
  *ngFor="let item of cart.items"
  [book]="item.book!"
  [cartMode]="true"
  [cartQuantity]="item.quantity"
  [cartPrice]="item.priceAtAddTime"
  (cartQuantityChange)="updateQuantity(item.bookId, $event)"
  (removeCartItem)="removeItem(item.bookId)"
>
</app-book-card>  
          
        </div>
        
        <!-- Order Summary -->
        <div class="lg:col-span-1">
          <div class="bg-background rounded-xl shadow-md p-6 sticky top-24">
            <h2 class="text-2xl font-bold mb-6">Order Summary</h2>
            
            <div class="space-y-3 pb-4 border-b">
              <div class="flex justify-between">
                <span>Subtotal</span>
                <span>\₹{{ cart.totalAmount | number:'1.0-0'}}</span>
              </div>
              <div class="flex justify-between">
                <span>Shipping</span>
                <span>{{ cart.totalAmount >= 500 ? 'Free' : '₹50.00' }}</span>
              </div>
              <div class="flex justify-between text-lg font-bold pt-2">
                <span>Total</span>
                <span class="text-2xl text-secondary">\₹{{ getTotal() | number:'1.0-0' }}</span>
              </div>
            </div>
            
            <div class="mt-6 space-y-3">
              <!-- <input type="text" placeholder="Promo Code" 
                     class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500"> -->
              <button (click)="checkout()" 
                      class="w-full btn-primary border rounded-lg  py-3 text-lg">
                Proceed to Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>